@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

.row{
    display: flex; 
    flex-wrap: wrap;
}

.s-border{
    width: 50px;
    height: 1px;
    margin-bottom: 2px;
    border-radius: 50px;
    background: #c5c5c5;
}

.m-border{
    width: 25px;
    height: 1px;
    margin-bottom: 20px;
    border-radius: 50px;
    background: #c5c5c5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #535353;
    font-family: Montserrat, sans-serif;
}

.contact-info li{
    line-height: 18px;
    padding-left: 22px;
    font-weight: 500;
    position: relative;
    font-size: 15px;
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
}

.contact-info li i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #ffb400;
}

.contact-info li a {
    text-decoration: none;
    color: #535353;
    font-family: Montserrat, sans-serif;
}

.contact-social li {
    text-align: center;
    display: inline-block;
    list-style: none;
    font-family: Montserrat, sans-serif;
}

.contact-social li a{
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    margin: 2px 4px 2px 0;
}

.category a{
    font-family: Montserrat,sans-serif; 
    font-weight: 500; font-size: 15px; 
    color: #535353; 
    text-decoration: none;
}

.category a:hover {
    color: #ffb400;
}

.top-header-contacts ul li {
    padding: 0 5px;
    height: 44px;
    line-height: 44px;
    color: #aaa;
    font-size: 15px;
}

.top-header-contacts ul li a{
    color: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
    color: #515151;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
    display: block;
    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        color: #ffb400;
    }
    
    .Menu a {    
        color: #515151;
        text-decoration: none;
    }
    .Menu a:hover {
        cursor: pointer;
        color: #FFB400; 
        text-decoration: none;   
    } 

    .car-details-tabpanel .nav-item .nav-link.active {
        background-color: #FFB400;
        color: #fff;
        border-radius: 0;
    }

    #pills-tab{
        border-bottom: none;
        background: #fff;
        box-shadow: 0 0 35px rgba(0,0,0,0.2);
    }

    .car-details-tabpanel .nav-item a {
        color: #4d4d4d;
        font-size: 15px;
        font-weight: 500;
        font-family: Montserrat;
    }

    .car-details-tabpanel .nav-item .nav-link:hover {
        background-color: #FFB400;
        color: #fff;
        border-radius: 0;
    }

    .aboutus-row2 p {
        font-size: 14px;
        line-height: 26px;
        color: #535353;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .Car-box a {
        text-decoration: none;
    }

    .Car-box .Car-box-overlay {
        width: 100%;
        border-radius: 3px;
        background: linear-gradient(to top,rgba(47, 45, 45, 0.9) 0%,rgba(0, 0, 0, 0.45) 35%,rgba(2, 2, 2, 0) 60%,rgba(0,0,0,0) 100%);
    }

    .footer {
        color: #919398;
        font-weight: 500;
        font-family: Montserrat, sans-serif;
    }

    .footer-item-2 li {
        width: 230px;
        padding-left: 25px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #919398;
        position: relative;
        font-family: Montserrat, sans-serif;
    }

    .footer-item-2 li a {
        font-size: 14px;
        color: #919398;
        font-family: Montserrat, sans-serif;
    }

    .footer-item-2 li i {
        font-size: 15px;
        color: #919398;
    }

    .footer-item-3 li {
        width: 140px;
        margin-bottom: 10px;
        font-size: 14px;
        color: #919398;
        position: relative;
        font-family: Montserrat, sans-serif;
    }

    .footer-item-3 li a {
        text-decoration: none;
        font-size: 14px;
        color: #919398;
        margin-left: 12.5px;
        font-family: Montserrat, sans-serif;
    }

    .sub-footer .social-list-2 li a {
        margin: 0 2px;
        color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        border-radius: 50px;
        text-align: center;
        background: rgba(0,0,0,0.15);
        border: 2px solid #919398;
        font-family: Montserrat, sans-serif;
    }

    .sub-footer .social-list-2 li .facebook-bg:hover {
        color: #fff;
        background: #4867aa;
        border: 2px solid #4867aa;
    }

    .sub-footer .social-list-2 li .youtube-bg:hover {
        color: #fff;
        background: #db4437;
        border: 2px solid #db4437;
    }

    .sub-footer .social-list-2 li .twitter-bg:hover {
        color: #fff;
        background: #33CCFF;
        border: 2px solid #33CCFF;
    }

    .sub-footer .social-list-2 li .linkedin-bg:hover {
        color: #fff;
        background: #0177b5;
        border: 2px solid #0177b5;
    }

    .sub-footer .social-list-2 li .pinterest-bg:hover {
        color: #fff;
        background: #bd081c;
        border: 2px solid #bd081c;
    }